<!DOCTYPE html>
<html>
<head>
  <title>Carload</title>
  <%= stylesheet_link_tag    'carload/application', media: 'all' %>
  <%= javascript_include_tag 'carload/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='container'>
    <div id='top-nav-buttons'>
      <div class='btn-group' role='group'>
        <%= link_to t('carload.action.back_to_root'), root_path, class: 'btn btn-default' %>
        <% DashboardController::MODELS.each do |model| %>
          <%= link_to t("activerecord.models.#{model}"), dashboard_index_path(model),
            class: "#{@model_name == model ? 'active' : ''} btn btn-default" %>
        <% end %>
      </div>
    </div>

    <%= yield %>

    <footer class='center'>
      2016 &copy; Powered by Carload
    </footer>
  </div>

</body>
</html>
