<!DOCTYPE html>
<html>
<head>
  <title><%= Carload.page.title || 'Carload' %></title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
  <%= stylesheet_link_tag    'carload/dashboard', media: 'all' %>
  <%= javascript_include_tag 'carload/dashboard' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id='main-container'>
    <div id='top-nav-buttons' class='center'>
      <div class='btn-group' role='group'>
        <%= link_to t('carload.action.back_to_root'), (main_app.root_path rescue root_path), class: 'btn btn-default' %>
        <% Dashboard.models.keys.each do |model| %>
          <%= link_to t("activerecord.models.#{model}"), dashboard_index_path(model),
            class: "#{@model_name == model ? 'active' : ''} btn btn-default" %>
        <% end %>
      </div>
    </div>

    <div id='main-content'>
      <%= yield %>
    </div>

    <footer class='center'>
      <%= raw Carload.page.footer || t('carload.footer.message') %> |
      <%= link_to t('carload.config.show'), dashboard_show_config_path %>
    </footer>
  </div>

</body>
</html>
