<div class='panel panel-default model-index-panel'>
  <div class='panel-heading'>
    <%= render 'carload/dashboard/shared/index_buttons' %>
    <%= render 'carload/dashboard/shared/search_fields' %>
  </div>
  <div class='panel-body'>
    <table class='table table-striped'>
      <thead>
        <tr>
          <th width='20'>ID</th>
          <% @show_attributes.each do |attribute| %>
            <th width='100'><%= generate_show_title attribute rescue attribute %></th>
          <% end %>
          <th width='20'><%= t('carload.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @objects.each do |object| %>
          <tr>
            <td><%= object.id %></td>
            <% @show_attributes.each do |attribute| %>
              <td><%= generate_show object, attribute %></td>
            <% end %>
            <td>
              <div class='model-action-buttons'>
                <%= link_to fa_icon('edit'), dashboard_edit_path(@model_names, object) %>
                <%= link_to fa_icon('trash'), dashboard_delete_path(@model_names, object), method: :delete,
                  data: { confirm: t('carload.form.message.delete', model: @model_name) } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class='center'>
      <%= paginate @objects %>
    </div>
  </div>
</div>
